#navegation{
    background-image: linear-gradient(90deg, #516bff 0%, #cc4aff 40%,  #cc4aff 60%, #516bff 100%);
   
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  }
  
  .nav-link{
    color: #ffffff;
    font-size: large;
    font-family: Arial;
  }

  #imgRedonda {
    width:30px;
    height:30px;
    border-radius:150px;
  }
  #imgRedonda2 {
    width:200px;
    height:200px;
    border-radius:10px;
  }


  header {
    background-image:url("https://images.vexels.com/media/users/3/73654/preview2/70ecabafcd70fc995463d85b50e8fec8-fondo-abstracto-del-paisaje-urbano-poligonal-3d.jpg");
    height: 65px;
    background-size: 1365px 660px;
    }
    
     
      #homes{
        color: aliceblue;
    }
      header nav:navbar-expand-lg navbar-light bg-light {
        animation:slidebg 2s linear infinite;
      }
  
      .header{
        text-align: center;
      }
      .content{
        margin: 10 px;
      }
      #btnUpload{
        cursor: pointer;
      }
  
    mat-card{
        text-align: center;
        scroll-behavior: auto;
        scroll-margin-right: inherit;
        -webkit-box-shadow: 2px 3px 5px 0px rgba(27, 19, 19, 0.75);
        -moz-box-shadow: 2px 3px 5px 0px rgba(29, 26, 26, 0.781);
        box-shadow: 2px 3px 5px 0px rgba(14, 13, 13, 0.75);
    }
      #card{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #000000;
        font-size: small;
        padding-left: 250px;
        padding-right: 250px;
        padding-top: -10px;
        padding-block-end: -10px;
        border-radius: 15px;
        border: 3px double #1d1f1f;
    }
    #card1{
        text-align: center;
        overflow:auto;
        align-items:center;
        height: 400px;
        width: 700px;
        margin-block-end: -1000%;
        background-color: rgb(41, 38, 38);
        -webkit-box-shadow: 2px 3px 5px 0px rgba(44, 40, 40, 0.75);
        -moz-box-shadow: 2px 3px 5px 0px rgba(39, 36, 36, 0.75);
        box-shadow: 2px 3px 5px 0px rgba(17, 17, 17, 0.75);
    }
   #card2{
      margin-left: 1%;
      margin-right: 1%;
     -webkit-box-shadow: 2px 3px 5px 0px rgba(44, 40, 40, 0.75);
     -moz-box-shadow: 2px 3px 5px 0px rgba(39, 36, 36, 0.75);
     box-shadow: 2px 3px 5px 0px rgba(17, 17, 17, 0.75);
  }
    body{
      background-image:url("https://images.vexels.com/media/users/3/73654/preview2/70ecabafcd70fc995463d85b50e8fec8-fondo-abstracto-del-paisaje-urbano-poligonal-3d.jpg");
      margin-block-end: -20000%;
      height: 572px;
      width: 100%;
      background-repeat: repeat;
      background-size: 1367px 660px;
  }
  #boton_1{
    text-decoration: none;
    padding-top: 1px;
    padding-block-end: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Times New Roman';
    font-weight: 800;
    font-size: -1px;
    color: #cf06f7;
    border-radius: 18px;
    border: 3px double #cf06f7;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(50, 51, 51, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(63, 65, 64, 0.75);
  }
  #boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  
  #boton_2{
    text-decoration: double;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    position: center;
    margin-top: 2%;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 12px;
    color: #ffd30f;
    border-radius: 15px;
    border: 3px double #ffd30f;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(193, 240, 241, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(112, 253, 253, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(240, 255, 254, 0.75);
  }
  #boton_2:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  #espacio{
    margin-top: 10%;
  }
  mat-form-field {
    margin-right: 12px;
  }
 
  #espacioabajo{
    margin-left: 1%;
    margin-top: -7%;
  }
  
  #fondo{
   
    background-color: green;
  }
  
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
    color: #8adbf7;
  }
  
  #boton_3{
    background-color: cornflowerblue;
    padding: 3px;
    margin-top: -20%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -4%;
    font-family: 'Times New Roman';
    font-size: 12px;
    border-radius: 10px;
    border: 3px double #0816dd;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(193, 240, 241, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(112, 253, 253, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(240, 255, 254, 0.75);
  }
  #boton_3:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}
mat-grid-tile {
  object-position: center;
  padding: center;
  bottom: center;
  top: center;
}
#espace{
  margin-left: 10px;
}
#tam{
  font-size: 13px;
  margin-top: 5px;
}
#tam2{
  font-size: 12px;
  margin-left: 5%;
}
#card3{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4%;
  margin-block-end: -2%;
  height: 100%;
 -webkit-box-shadow: 2px 3px 5px 0px rgba(44, 40, 40, 0.75);
 -moz-box-shadow: 2px 3px 5px 0px rgba(39, 36, 36, 0.75);
 box-shadow: 2px 3px 5px 0px rgba(17, 17, 17, 0.75);
}
.demo, .demo-2 {
    position: absolute;
    
    height:70px;
    
}
 .form-search,  .form-search {
    right:0px;
    top:40px;
    margin-top: 2%;
    margin-block-end: 1%;
    margin-left: 60%;
    margin-right: 50%;
    width:300px;
}
 .form-search input[type=text],
 .form-search input[type=text] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    border: solid 1px #ccc;
    padding: 5px 10px;
    width: 300px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
 .form-search input[type=text] {
    width:100px;
    position:absolute;
    right:0px;
    z-index:100px;
    padding:4px 8px;
    margin-right: 110%;
    cursor:pointer;
}
.form-search div.input-group {
    width:60px;
}
.form-search input[type=text]:focus {
    width: 268px;
    background-color: #fff;
}
 .form-search input[type=text]:focus {
    position:absolute;
    right:0px;
    width:140px;
}
 .form-search button.btn,
 .form-search button.btn {
    padding:16px 12px;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    cursor:not-allowed;
}
 .form-search button.btn {
  padding:15px 12px;
}
#searchbutton{
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5%;
    background-color: #f7689f;
    border-radius: 10px;
    border: 3px double #dd085a;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(255, 255, 255, 0.966);
    box-shadow: 2px 3px 5px 0px rgba(232, 255, 253, 0.897);
}
mat-grid-tile{
    width: 10px;
    height: 480px;
    margin-right: 80px;
    margin-left: 10px;
}
#space2{
    padding-top: -2%;
    margin-left: 90%;
    font-size: 12px;
    margin-top: -15%;
}
#principal{
    margin-top: -1%;
    margin-left: 40%;
    margin-right: 40%;
    margin-block-end: 3%;
}
#escape{
    margin-top: -1%;
    margin-block-end: -7%;
}
#principal2{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -4%;
    margin-block-end: 1%;
    font-size: 14px;
}
#precio{
    margin-left: 3%;
}