
<header>
<mat-toolbar fxLayout="row" id="navegation">
    <span fxFlex>GTSales Marketplace</span>
    <button mat-button  *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <a class="nav-link" id="homes "href="{{item.ruta}}"><mat-icon aria-hidden="false" aria-label="Example home icon">{{item.icon}}</mat-icon>{{item.label}}</a>
    </button>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">
                    <button mat-menu-item >
                        <a class="nav-link" id="homes "href="{{item.ruta}}"><mat-icon aria-hidden="false" aria-label="Example home icon">{{item.icon}}</mat-icon>{{item.label}}</a>
                    </button>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container>
</mat-toolbar>
</header>

<body>
    <br>
    <div class="content" fxLayout="row wrap" fxLayout.xs="row wrap"  fxLayoutAlign="space-around center">  
  <div>
    <mat-card id="card1" fxFlex="200%" fxFlex.sm="100%">
    <mat-card width="100%">
    <h1 id="card"><mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon> Sign in</h1>
    </mat-card>
    <br>
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">alternate_email</mat-icon> Enter your Email</mat-label>
        <input   matInput [(ngModel)]="correo" name="correo" placeholder="ejemplo@email.com">
        </mat-form-field>
        <br>
        <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="contra" name="contra" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        <br>
        <a href="registro" class="btn btn-outline-success my-2 my-sm-0" type="submit">REGISTRARSE</a>
        <a mat-button id="liking" (click)="openDialog()">Forgot password?</a>
        <br>
        <br>
        <a color="info" id="boton_1" type="submit" (click)="Login()">LOGIN</a>
        <br>
        <br>
    </mat-card>
</div>
</div>
</body>