#navegation{
    background-image: linear-gradient(90deg, #ff3388 0%, #ffee05 45%,  #16fdd7 80%, #00adfd 100%);
   
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  }
  
  .nav-link{
    color: #ffffff;
    font-size: large;
    font-family: Arial;
  }

  #imgRedonda {
    width:30px;
    height:30px;
    border-radius:150px;
  }
  #imgRedonda2 {
    width:50px;
    height:50px;
    border-radius:150px;
  }


  header {
    background-image:url("https://www.10wallpaper.com/wallpaper/1920x1080/1309/spot_light_bright-Design_HD_wallpaper_1920x1080.jpg");
    height: 65px;
    background-size: 1368px 880px;
    }
    
     
      #homes{
        color: aliceblue;
    }
      header nav:navbar-expand-lg navbar-light bg-light {
        animation:slidebg 2s linear infinite;
      }
  
      .header{
        text-align: center;
      }
      .content{
        margin: 100 px;
      }
      #btnUpload{
        cursor: pointer;
      }
  
    mat-card{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        scroll-behavior: auto;
        scroll-margin-right: inherit;
        -webkit-box-shadow: 2px 3px 5px 0px rgba(27, 19, 19, 0.75);
        -moz-box-shadow: 2px 3px 5px 0px rgba(29, 26, 26, 0.781);
        box-shadow: 2px 3px 5px 0px rgba(14, 13, 13, 0.75);
    }
      #card{
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #48ee06;
        border-radius: 15px;
        border: 3px double #48ee06;
    }
    #card1{
        text-align: center;
        overflow:auto;
        align-items:stretch;
        height: 470px;
        margin-block-end: -1000%;
        background-color: rgb(41, 38, 38);
        -webkit-box-shadow: 2px 3px 5px 0px rgba(44, 40, 40, 0.75);
        -moz-box-shadow: 2px 3px 5px 0px rgba(39, 36, 36, 0.75);
        box-shadow: 2px 3px 5px 0px rgba(17, 17, 17, 0.75);
    }
   #card2{
      margin-left: 1%;
      margin-right: 1%;
     -webkit-box-shadow: 2px 3px 5px 0px rgba(44, 40, 40, 0.75);
     -moz-box-shadow: 2px 3px 5px 0px rgba(39, 36, 36, 0.75);
     box-shadow: 2px 3px 5px 0px rgba(17, 17, 17, 0.75);
  }
    body{
      background-image:url("https://www.10wallpaper.com/wallpaper/1920x1080/1309/spot_light_bright-Design_HD_wallpaper_1920x1080.jpg");
      margin-block-end: -20000%;
      height: 572px;
      width: 100%;
      background-repeat: repeat;
      background-size: 1368px 660px;
  }
  #boton_1{
    background-color: #04fcbe;
    text-decoration: none;
    padding-left: 95px;
    padding-right: 90px;
    margin-right: 5%;
    margin-left: 7%;
    font-family: 'Times New Roman';
    font-weight: 800;
    font-size: 17px;
    color: #03916d;
    border-radius: 15px;
    border: 3px double #03916d;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(50, 51, 51, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(63, 65, 64, 0.75);
  }
  #boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  
  #boton_2{
    text-decoration: none;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5%;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 12px;
    color: #ffd30f;
    border-radius: 15px;
    border: 3px double #ffd30f;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(193, 240, 241, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(112, 253, 253, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(240, 255, 254, 0.75);
  }
  #boton_2:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  #espacio{
    margin-top: 10%;
  }
  mat-form-field {
    margin-right: 12px;
  }
 
  #espacioabajo{
    margin-left: 1%;
    margin-top: -7%;
  }
  
  #fondo{
   
    background-color: green;
  }
  
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
    color: #8adbf7;
  }
  
  #boton_3{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -105px;
    margin-block-end: -35px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 16px;
    color: #dd085a;
    border-radius: 15px;
    border: 3px double #dd085a;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(193, 240, 241, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(112, 253, 253, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(240, 255, 254, 0.75);
  }
  #boton_3:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}
mat-grid-tile {
  object-position: center;
  padding: center;
  bottom: center;
  top: center;
}
#espace{
  margin-left: 10px;
}
#tam{
  font-size: 13px;
  margin-top: 5px;
}
#tam2{
  font-size: 12px;
  margin-left: 5%;
}
#card3{
  height: 100%;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-block-end: 1%;
 -webkit-box-shadow: 2px 3px 5px 0px rgba(44, 40, 40, 0.75);
 -moz-box-shadow: 2px 3px 5px 0px rgba(39, 36, 36, 0.75);
 box-shadow: 2px 3px 5px 0px rgba(17, 17, 17, 0.75);
}
#cantidades{
    margin-block-end: -12%;
    font-size: small;
}