<header>
<mat-toolbar fxLayout="row" id="navegation">
    <span fxFlex>GTSales Marketplace</span>
    <button mat-button  *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <a class="nav-link" id="homes "href="{{item.ruta}}"><mat-icon aria-hidden="false" aria-label="Example home icon">{{item.icon}}</mat-icon>{{item.label}}</a>
    </button>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">
                    <button mat-menu-item >
                        <a class="nav-link" id="homes "href="{{item.ruta}}"><mat-icon aria-hidden="false" aria-label="Example home icon">{{item.icon}}</mat-icon>{{item.label}}</a>
                    </button>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container>
</mat-toolbar>
</header>

<body>
    <br><br>
    <div class="content" fxLayout="row wrap" fxLayout.xs="row wrap"  fxLayoutAlign="space-around center">  
  <div>
    <mat-card id="card1" fxFlex="200%" fxFlex.sm="100%">
    <mat-card width="100%">
    <h3 id="card"><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon> Recuperar Contraseña</h3>
    </mat-card>
    <br>
         <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="contra1" name="contra1" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        <br>
        <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>Confirm your password</mat-label>
        <input matInput [(ngModel)]="contra" name="contra" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
        <br>
        <a color="info" id="boton_1" type="submit" (click)="get()">ENVIAR</a>
        <br>
        <br>
    </mat-card>
</div>
</div>
</body>
