
<header>
<mat-toolbar fxLayout="row" id="navegation">
    <span fxFlex>GTSales Marketplace</span>
    <button mat-button>
        <a class="nav-link" id="homes "href="Publicacion"><mat-icon aria-hidden="false" aria-label="Example home icon">store</mat-icon>Inicio</a>
    </button>
    <button mat-button  *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <a class="nav-link" id="homes "href="{{item.ruta}}"><img id='imgRedonda' src=" {{item.foto}}" class="img-fluid" alt="No image"> {{item.label}}</a>
    </button>
    <button mat-button (click)="cerrarSesion()" *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <a class="nav-link" id="homes "href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">power_settings_new</mat-icon>Cerrar Sesion</a>
    </button>
    <button mat-button *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <a class="nav-link" id="homes "href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>Mi carreta</a>
    </button>
    <button mat-button *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <a class="nav-link" id="homes "href="ProductoCliente"><mat-icon aria-hidden="false" aria-label="Example home icon">loyalty</mat-icon>Mis productos</a>
    </button>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>dehaze</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">
                    <button mat-menu-item >
                        <a class="nav-link" id="homes "href="{{item.ruta}}"><img id='imgRedonda' src=" {{item.foto}}" class="img-fluid" alt="No image"> {{item.label}}</a>
                    </button>
                </div>
                <button mat-menu-item (click)="cerrarSesion()" [fxShow]="!item.showOnDesktop" [fxShow.xs]="!item.showOnMobile" 
                    [fxShow.sm]="!item.showOnTablet">
                        <a class="nav-link" id="homes "href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">power_settings_new</mat-icon>Cerrar Sesion</a>
                </button>
                <button mat-menu-item  [fxShow]="!item.showOnDesktop" [fxShow.xs]="!item.showOnMobile" 
                    [fxShow.sm]="!item.showOnTablet">
                        <a class="nav-link" id="homes "href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>Mi carreta</a>
                </button>
                <button mat-menu-item  [fxShow]="!item.showOnDesktop" [fxShow.xs]="!item.showOnMobile" 
                    [fxShow.sm]="!item.showOnTablet">
                        <a class="nav-link" id="homes "href="ProductoCliente"><mat-icon aria-hidden="false" aria-label="Example home icon">loyalty</mat-icon>Mis productos</a>
                </button>
            </ng-container>
        </mat-menu>
    </ng-container>
</mat-toolbar>
</header>

<body>
    <br>
    <div class="content" fxLayout="row wrap" fxLayout.xs="row wrap"  fxLayoutAlign="space-around center">  
  <div>
    <mat-card id="card1"  fxFlex.sm="100%">
          <mat-card >
            <h1 id="card"><mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon> Información personal</h1>
        </mat-card>
    <br>
    <mat-grid-list id="gridcolor"cols="3" rowHeight="280px"  [cols]="breakpoint" (window:resize)="onResize($event)">
      <mat-grid-tile>
        <mat-card id="card2">
          <input   type="file" class="d-none" (change)="onPhotoSelected($event, $event)" #photoInput>
          <img id='imgRedonda2' [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image">
          
          <h6 id="tam">Créditos disponibles: {{creditos}} </h6><br>
          <a (click)="photoInput.click()" color="info" id="boton_3" type="submit">Elegir imagen</a>
          <br>
          <br>
          <mat-slide-toggle color="primary"[(ngModel)]="isChecked">¿Subir fotografía?</mat-slide-toggle>
          </mat-card>
          <br>
        
        
      </mat-grid-tile>
      
    <mat-grid-tile>
      <br>
      <br>
      <mat-list role="list" >
          <mat-list-item role="listitem"><mat-form-field class="example-full-width" appearance="fill">
          <mat-label id="espacio">Nombre</mat-label>
          <input  matInput [(ngModel)]="nombre" name="nombre" placeholder="Ingrese su nombre"[formControl]="firstname" required>
          <mat-error *ngIf="firstname.invalid">{{getErrorMessageother()}}</mat-error>
          </mat-form-field>
          <br><br>
        </mat-list-item>
        <mat-list-item role="listitem">
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input   matInput [(ngModel)]="apellido" name="apellido" placeholder="Ingrese su apellido"[formControl]="lastname" required>
          <mat-error *ngIf="lastname.invalid">{{getErrorMessageother()}}</mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
              <select matNativeControl id="pais" name="pais" [(ngModel)]="pais" (onchange)="SelectedPais();"required>
                <option value="Guatemala">Guatemala</option>
                <option value="Panamá">Panamá</option>
                <option value="Honduras">Honduras</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Belice">Belice</option>
                <option value="México">México</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="Canadá">Canadá</option>
                <option value="Colombia">Colombia</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Perú">Perú</option>
                <option value="Chile">Chile</option>
                <option value="Argentina">Argentina</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Brazil">Brazil</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Uruguay">Uruguay</option>
              </select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
          <mat-list role="list" >
            <mat-list-item role="listitem">
                <mat-form-field id="espace" appearance="fill" [style.width.px]=205>
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput  [(ngModel)]="fecha" name="fecha" [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader">
                </mat-datepicker>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-slide-toggle id="tam2" color="primary"[(ngModel)]="isChecked2">¿Desea cambiar contraseña?</mat-slide-toggle>
            </mat-list-item>
            <mat-list-item role="listitem">
                
                 <mat-form-field id="espace" class="example-full-width" appearance="fill" [style.width.px]=205>
                <mat-label>Contraseña</mat-label>
                <input matInput #input maxlength="8" [(ngModel)]="contra" name="contra" [type]="hide ? 'password' : 'text'">
                <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem">
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-form-field id="espace" class="example-full-width" appearance="fill" [style.width.px]=205>
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput #input maxlength="8" [(ngModel)]="password" name="password" [type]="hide1 ? 'password' : 'text'">
                <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                </mat-form-field>
            </mat-list-item>
          </mat-list>
    </mat-grid-tile>
 </mat-grid-list>

        <br>
        
        <mat-form-field id="espacioabajo" appearance="fill" >
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">alternate_email</mat-icon> Correo electrónico</mat-label>
                <input matInput [(ngModel)]="correo" name="correo" placeholder="pat@example.com"  readonly>
        </mat-form-field>
        <br>
        <a color="info" id="boton_1" type="submit" (click)="guardarCambios()">GUARDAR CAMBIOS</a>
        <a color="info" id="boton_2" type="submit" (click)="eliminar()">ELIMINAR CUENTA</a>
        
    </mat-card>
</div>
</div>
</body>
