<body>
    <div id="login">
        <br><br><br><br><br><br><br>
      <mat-card >
        <h3 class="text-center text-white pt-5">Login form</h3>
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        
                            <h3 class="text-center text-info">Confirmacion De Correo</h3>
                                <h5  class="text-center text-info" >Su cuenta ha sido confirmada con exito.</h5>
                            
                                <a  (click)="login()" id="boton_1"  type="submit" name="submit" >Iniciar Sesión</a> <br>
                                <br>
                    </div>
                </div>
            </div>
        
      </mat-card >
    </div>
</body>
